<!DOCTYPE html>
<head>
    <title>Test Report</title>
    <style>
        body {
            max-width: 1200px;
            margin: auto;
            background-color: black;
            color: red;
            overflow-wrap: break-word;
        }

        pre {
            background-color: #161624;
            padding: 1em;
        }
    </style>
</head>
<body>
    <h1>Test Report</h1>    
    <div>
        {{range $index, $test := .}}
            <h2>Test {{$index}}: {{$test.Name}}</h2>
            <h3>Request</h3>
            <ul>
                <li>{{$test.RestMethod}} {{$test.Url}}</li>
                <li>Headers: 
                    {{range $key, $value := $test.RequestHeaders}}
                    <ul>
                        <li>{{$key}} {{$value}}</li>
                    </ul>
                    {{end}}
                </li>
                <li>Body {{if $test.RequestBody}}<pre>{{$test.RequestBody}}</pre></li>{{end}}
            </ul>
            <h3>Response</h3>
            <ul>
                <li>Status code: {{$test.ResponseCodeActual}}</li>
                <li>Headers: 
                    {{range $key, $value := $test.ResponseHeaders}}
                    <ul>
                        <li>{{$key}} {{$value}}</li>
                    </ul>
                    {{end}}
                </li>
                <li>Body <pre>{{$test.ResponseBody}}</pre></li>
            </ul>
        {{end}}
    </div>
</body>
