<!DOCTYPE html>
<body>
    <h1>Test Report</h1>    
    <div>
        {{range $index, $test := .}}
            <h2>Test {{$index}}: {{$test.Name}}</h2>
            <h3>Request</h3>
            <ul>
                <li>{{$test.RestMethod}} {{$test.Url}}</li>
                <li>Headers: 
                    {{range $key, $value := $test.RequestHeaders}}
                    <ul>
                        <li>{{$key}} {{$value}}</li>
                    </ul>
                    {{end}}
                </li>
                <li>Body <pre>{{$test.RequestBody}}</pre></li>
            </ul>
            <h3>Response</h3>
            <ul>
                <li>Status code: {{$test.ResponseCodeActual}}</li>
                <li>Headers: 
                    {{range $key, $value := $test.ResponseHeaders}}
                    <ul>
                        <li>{{$key}} {{$value}}</li>
                    </ul>
                    {{end}}
                </li>
                <li>Body <pre>{{$test.ResponseBody}}</pre></li>
            </ul>
        {{end}}
    </div>
</body>
